.home-body {
  display: flex;
  /* border: 3px solid black; */
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  height: 600px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 20px rgb(247, 184, 184);
  border-radius: 30px;
}

.left-cont {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
  height: 100%;
  margin-left: 0px;
  object-fit: contain;
  align-items: center;
  background-color: #807182;
  position: relative;
  border-radius: 30px;
}
#home-header {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  padding: 28px;
  font-size: 48px;
  text-align: center;
  text-shadow: 12px 0px 22px black;
}
#homedog {
  max-width: 85%;
  max-height: 85%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
  left: -15px;
  bottom: 0;
}
.right-cont {
  display: flex;
  padding: 50px;
  display: grid;
  text-align: center;
  width: 70%;
  height: 100%;
}

.filler-welcome {
  position: inherit;
}
